{% extends 'base.html' %}
{% load static %}

{% block content %}
    <h1 class="center">How to deploy Django to Render</h1>
    {% if request.user.is_supporter %}
        <p>スーパーユーザーでログインしています。</p>
    {% else %}
        {% if request.user.is_authenticated %}
            <a href="{% url 'account_logout' %}">ログアウト</a>
            {% if request.user.is_free %}
                <p>無料会員でログインしています。</p>
                <a href="{% url 'credit-register' %}">有料会員登録</a>
            {% elif request.user.is_paid %}
                <p>有料会員でログインしています。</p>
                <a href="{% url 'credit-update' %}">クレジットカード情報を変更する</a>
                <a href="{% url 'subscription-cancel' %}">有料会員を解約する</a>
            {% endif %}
        {% else %}
            <a href="{% url 'account_signup' %}">サインイン</a>
            <a href="{% url 'account_login' %}">ログイン</a>
        {% endif %}
    {% endif %}
    <a href="{% url 'item-list' %}">Item一覧</a>
{% endblock %}
